body {
	margin : 0;
	width: auto;
}

header{
	background: #0094d4;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo{
	display: inline;
}
.searchbar{
	margin: 5px;
	width: 500px;
}
nav ul{
	display: inline;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	color: white;
	background: black;
	padding: 5px 15px;
	margin: 0;
}

nav ul li a{
	color: white;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 100%
}

.col {
	float: left;
	width: 20%;
	margin: 10px;
}


#footer {
		padding: 6em 0 4em 0;
		background: #25a2c3;
		text-align: center;
		color: #c8e7f0;
	}

